<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Отчёт о голосовании</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
</head>
<body>
  <button class="custom-button"><a href="/report.csv">Скачать отчет</a></button>
  <h1>Результаты голосования</h1>
  <p><strong>Всего участников:</strong> {{ total_voters }}</p>

  {% for category, nominees in report.items() %}
    <h2>{{ category }}</h2>
    <table>
      <tr>
        <th>Сотрудник</th>
        <th>Голосов</th>
      </tr>
      {% for name, count in nominees %}
      <tr>
        <td>{{ name }}</td>
        <td>{{ count }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endfor %}
</body>
</html>
